body{
    background-color:#E6E6DC;
}
header{
    font-weight:bold;
    font-size:35px;
    display:block;
    padding-top:150px;
    padding-left: 5px;
    float:left;
}
#wrapper1
{
    background-color:#00628B;
    height:40px;
    box-shadow: 1px 1px 1px 1px #81A594;
    margin:0 auto;
    border-bottom-style: solid;
    border-bottom-color:#81A594;
    font-family: Arial, Helvetica, sans-serif;
}
#wrapper2{
    background-color:#81A594;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    height:200px;
    margin:0 auto;
    color:#E6E6DC;
    text-align: left;
    font-size: 40px;
    border-bottom-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

.bar{
    color:#81A594;
    text-decoration: none;
    font-weight:bold;
    display:block;
    padding-left:10px;
    padding-top:10px;
}

#ul1{
    list-style-type: none;
    margin:0;
    padding-left:500px;
    padding-right:3%;
    justify-content: space-between;
    display: flex;
    flex-direction:row;
    
}

#wrapper3{
    font-family: Arial, Helvetica, sans-serif;
    color:#00628B;
}
img{
    height: 25%;
    width: 20%;
    float:left;
}

.imgframe
    { 
    padding:5px;
    border:1px solid #81A594;
 }

#wrapper4{
    height:200px;
}

#galtil{
    margin-bottom:10px;
    padding:0px;
    font-size:40px;
    font-weight:bold;
    color:#00628B;
    text-align: center;
}

h3{
    float:left;
    font-size:180px;
    padding-top:25px;
    margin:0px;
}

h4{
font-size:37px;
padding-top:25px;
padding-bottom:10px;
margin:0px;

}

#gallery{
    height:400px;
    width:1000px;
    margin:0 auto;
    text-align:center;
}

#iphonepic{
    height:300px;
    width:1000px;
    margin:0 auto;
}

#rightB,#leftB{
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
    background-color:#E6E6DC;
    color:#81A594;
    font-weight:bold;
    border: 2px solid #00628B;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,0.2), 0 2px 6px 0 rgba(0,0,0,0.19);
}
#myButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#wrapper5{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #00628B;
    height:140px;
    border-top-style: solid;
    border-top-color: #81A594;
    color:#81A594;
    display:flex;
    flex-direction: row;
}
#w5-1{
    font-size:30px;
    font-weight:bold;
    padding-top:20px;
    padding-left:20px;
    width:900px;
}

#w5-2{
    font-size:20px;
    font-weight:bold;
    padding-top:20px;
    width:600px;
}
#w5-3{
    font-size:20px;
    font-weight:bold;
    padding-top:20px;
    width:500px;
}
#legal{
    font-size:15px;
    padding:0px;
    margin-top:10px;
}

p{
    color:#81A594;
    padding-left:420px;
    font-size:25px;
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
}

table{
    margin:200px auto;
    border: 1px solid black;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color:#00628B;
}

th,td{
    padding:20px 20px 20px 20px;
}

td{
    font-size:15px;
    color:#81A594;
    text-align:center;
}

.til{
    font-size:17px;
    color:#81A594; 
    text-decoration: underline;
    font-weight:bold;
}


nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #E6E6DC;
}
  
  
