/* basic setup */
* {
    margin: 0;
    padding: 0;
}

html {
    background-color: white;
}


/* the styles for the header, main content and footer */

/* the styles for the header */

#header {
    background-color: #00628B;
    height: 3.5em;
    width: 100%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

#header .topLeftHeading {
    float: left;
    color: #E6E6DC;
    padding: 3px 26px;
    text-decoration: none;
    font-size: 25px;
    font-family: cursive;
}

/* the styles for the headers navigation bar */

#header nav ul {
    list-style-type: none;
    margin: 0;
    padding-right: 3%;
    justify-content: flex-end;
    font-size: 18px;
    display: flex;
    flex-direction: row;

}

#header nav ul li a:hover {
    color: #E6E6DC;
    text-decoration: underline;
}

.con:hover {
    box-shadow: 0 0 20px rgba(33, 33, 33, .2);
}

.bar {
    color: #81A594;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding-left: 20px;
    padding-top: 15px;
}

/* the styles for the wrapper containing main content */

#wrapper {
    background-color: #D4E6F1;
    font-family: sans-serif;
    height: 70em;
    width: 100%;
}

/* the styles for the image */

#image {
    width: 100%;
    height: 25em;
    background-color: white;
    text-align: center;
}

#mainContent {
    width: 60%;
    height: 45em;
    float: left;
}

#mainContent #firstChild {
    font-family: Verdana;
    color: #2B08A1;
    font-size: 29px;
    position: absolute;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
}

#mainContent #secondChild {
    font-family: Verdana;
    font-size: 12px;
    position: absolute;
    top: 77%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: #2B08A1;
}


/* the styles for the form */

#mainContent #contactF {
    position: absolute;
    top: 125%;
    left: 32%;
    transform: translate(-50%, -50%);
}

#contactF h2 {
    font-size: 25px;
    font-family: Verdana;
    color: #2B08A1;
    padding-bottom: 1.5em;
}

#contactF input#male, input#female, input#other {
    margin-bottom: .7em;
    padding-top: .2em;
    padding-bottom: .2em;
    padding-left: .2em;
}

#contactF input#userName, input#userEmail, input#userPhNo {
    margin-right: .5em;
    margin-bottom: .7em;
    padding-top: .2em;
    padding-bottom: .2em;
    padding-left: .2em;
}

#contactF input#other {
    margin-bottom: 2em;
}

#contactF select#userOption {
    margin-bottom: 1.5em;
    margin-right: .5em;
    padding-top: .2em;
    padding-bottom: .2em;
    padding-left: .2em;
}

#contactF textarea#userText {
    margin-bottom: .5em;
    margin-top: .5em;
    margin-right: .5em;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: .5em;
}

#contactF label {
    font-family: Verdana;
    font-size: 15px;
    float: left;
    width: 9em;
    padding-right: .5em;
    margin: 0;
    color: #2B08A1;
}

#contactF input#submitButton {
    padding: .5em .5em .5em .5em;
    width: 110px;
    background-color: lavender;
    font-size: 17px;
    font-family: Verdana;
    color: #2B08A1;
}

#contactF input#resetButton {
    padding: .5em .5em .5em .5em;
    margin-left: 12em;
    width: 110px;
    background-color: lavender;
    font-size: 17px;
    font-family: Verdana;
    color: #2B08A1;
}

/* the styles for the aside content */

#aside {
    width: 40%;
    height: 45em;
    float: right;
}

.rightNav ul#first {
    text-decoration: none;
    list-style: none;
    padding-bottom: 1em;
    margin-top: 7em;
    margin-left: 5em;
}

.rightNav ul#first li {
    padding-bottom: .5em;
}

.rightNav ul#second {
    text-decoration: none;
    list-style: none;
    padding-bottom: 1em;
    margin-top: 4em;
    margin-left: 5em;
}

.rightNav ul#second li {
    padding-bottom: .5em;
}

.rightNav ul#third {
    text-decoration: none;
    list-style: none;
    padding-bottom: 1em;
    margin-top: 4em;
    margin-left: 5em;
}

.rightNav ul#third li {
    padding-bottom: .5em;
}

.rightNav ul#fourth {
    text-decoration: none;
    list-style: none;
    padding-bottom: 1em;
    margin-top: 4em;
    margin-left: 5em;
}

.rightNav ul#fourth li {
    padding-bottom: .5em;
}

.rightNav ul {
    display: block;
    margin: 30px;
    text-align: left;
    font-family: Verdana;
    font-size: 16px;
}

.rightNav a#l2, a#l10, a#l11, a#l12:link {
    color: #2B08A1;
}

.rightNav ul li:visited {
    color: green;
}

.rightNav a#l2:hover {
    color: red;
}

.rightNav a#l10:hover {
    color: red;
}

.rightNav a#l11:hover {
    color: red;
}

.rightNav a#l12:hover {
    color: red;
}

/* the styles for the footer */

#wrapper5 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #00628B;
    height: 10em;
    border-top-style: solid;
    border-top-color: #81A594;
    color: #81A594;
    display: flex;
    flex-direction: row;
    width: 100%;
}

#w5-1 {
    font-size: 30px;
    font-weight: bold;
    padding-top: 20px;
    padding-left: 20px;
    width: 900px;
}

#w5-2 {
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
    width: 600px;
}

#w5-3 {
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
    width: 600px;
}
